.vscode/**
typings/**
out/test/**
test/**
src/**
server/src/**
server/test/**
server/package-lock.json
**/*.map
**/*.ts
!**/*.d.ts
*.vsix
.gitignore
tsconfig.json
package-lock.json
vsc-extension-quickstart.md

# Reduce node_modules bloat
**/node_modules/**/README.md
**/node_modules/**/CHANGELOG.md
**/node_modules/**/CHANGELOG
**/node_modules/**/HISTORY.md
**/node_modules/**/CONTRIBUTING.md
**/node_modules/**/SECURITY.md
**/node_modules/**/.github/**
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/__tests__/**
**/node_modules/**/docs/**
**/node_modules/**/*.cmd