.vscode/**
typings/**
test/**
src/**
out/**
server/**
node_modules/**
esbuild.js
**/*.map
**/*.ts
*.vsix
.gitignore
tsconfig.json
package-lock.json
vsc-extension-quickstart.md

# Keep only the bundled dist folder
!dist/**
